# string function-in Built function
   Upper()--returns string which all the charaters in upper case
   
   lower()--returns string which all the charaters in lower case

In [1]:
str="Anil"

## Boolean Methods

In [7]:
s='python is easy to learn'
s1="python"
print(s.isupper())
print(s1.islower())

False
True

In [12]:
s="Application"
s1="ANIL"
print(s.isupper())
print(s1.isupper())

False
True

In [13]:
s="5678"
s1="app1889"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [14]:
s="Application"
s1="App1889"
print(s.isalpha())
print(s1.isalpha())

True
False

In [92]:
s="Python programming"
s1="Python Progremming"
print(s.istitle())
print(s1.istitle())

False
True

In [18]:
s="Python"
s1="Python Programming"
print(s.isspace())
print(s1.isspace())

False
False

In [19]:
s="python"
print(s.isspace())

False

# String Methods

1.join()

2.split()

3.replace()

In [21]:
str="Python"
print(" ".join(str))

P y t h o n

In [22]:
print(",".join(["Python","Programming","Easy"]))

Python,Programming,Easy

In [24]:
s="Py th on"
s1="   "
print(s.isspace())
print(s1.isspace())

False
True

In [27]:
lst=["",""]
print(",".join(lst))

,

In [94]:
s="Python, programming, is, Easy, to, learn"
print(s.split())
print(s.split("a"))
print(s.split(","))
print(s.split("n"))

['Python,', 'programming,', 'is,', 'Easy,', 'to,', 'learn']
['Python, progr', 'mming, is, E', 'sy, to, le', 'rn']
['Python', ' programming', ' is', ' Easy', ' to', ' learn']
['Pytho', ', programmi', 'g, is, Easy, to, lear', '']

In [31]:
s="Python is easy to learn"
lst=s.split()
print(lst)
print(lst.index("is"))

['Python', 'is', 'easy', 'to', 'learn']
1

In [32]:
s="Python is easy to learn"
lst=list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [33]:
s="Python programming"
print(s.replace("gra","application"))

Python proapplicationmming

# Python Tuples


A tuples of seq of objects is like list only<br>

In [34]:
t1=("Python","programming",1989,2019,"Machine Learning","AI")
t2=(1,2,3,4,5)
print(t1)
print(t2)

('Python', 'programming', 1989, 2019, 'Machine Learning', 'AI')
(1, 2, 3, 4, 5)

In [36]:
t1=("Python","programming",1989,2019,"Machine Learning","AI")
print("t1[0]=",t1[0])
print("t1[2]=",t1[2])
print("t1[-1]=",t1[-1])
print("t1[1:4]=",t1[1:4])
print("t1[2:-2]=",t1[2:-2])

t1[0]= Python
t1[2]= 1989
t1[-1]= AI
t1[1:4]= ('programming', 1989, 2019)
t1[2:-2]= (1989, 2019)

In [43]:
t1=("Python","programming",1989,2019,"Machine Learning","AI")
print(t1)
del t1
print(t1)

('Python', 'programming', 1989, 2019, 'Machine Learning', 'AI')

NameError: name 't1' is not defined

In [44]:
t1=("Python","programming")
t2=(1989,2019,"Ml","AI")
t3=t1+t2
print(t3)

('Python', 'programming', 1989, 2019, 'Ml', 'AI')

In [45]:
t1=("Python","programming",1989,2019,"Machine Learning","AI")
print(len(t1))

6

In [49]:
t1=(1,23,4,5,6,7,8)
t2=("pyhton",12,2,"programming")
print(max(t1))
print(max(t2))

23

TypeError: '>' not supported between instances of 'int' and 'str'

In [50]:
t1=(1,23,4,5,6,7,8)
t2=("pyhton",12,2,"programming")
print(min(t1))
print(min(t2))

1

TypeError: '<' not supported between instances of 'int' and 'str'

In [52]:
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)
print(t1)
print(t2)
a = cmp(t1,t2)
print(a)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

NameError: name 'cmp' is not defined

In [53]:
list1=("Python","programming",1989,2019,"Machine Learning","AI")
print(list1)
tuple1=tuple(list1)
print(list1)

('Python', 'programming', 1989, 2019, 'Machine Learning', 'AI')
('Python', 'programming', 1989, 2019, 'Machine Learning', 'AI')

# Python Dictionary
 
 Dictinary each key is seperated with value by colon(:)
 
 user data can be seperated from comma operated
 
 Examples:-
    
     user1={'Name','person'}

In [62]:
user1={'Name':'Anil','Age':29,'EmailID':'anil@gmail.com','mobile number':'9744556622'}
print("user1[Name]=",user1['Name'])
print("user1[EmailID]=",user1['EmailID'])
print("user1[Age]=",user1['Age'])
print("user1[mobilenumber]=",user1['mobile number'])

user1[Name]= Anil
user1[EmailID]= anil@gmail.com
user1[Age]= 29
user1[mobilenumber]= 9744556622

In [72]:
user1={'Name':'Anil','Age':'29','EmailID':'anil@gmail.com','mobile number':'9744556622'}
print("User1['Name']=",user1['Name'])
user1['address']='Hyderabad'
print(user1['address'])

User1['Name']= Anil
Hyderabad

In [80]:
user1={'Name':'Anil','Age':'29','EmailID':'anil@gmail.com','mobile number':'9744556622'}
del user1['Name']
print(user1)

{'Age': '29', 'EmailID': 'anil@gmail.com', 'mobile number': '9744556622'}

In [84]:
user1={'Name':'Anil','Age':'29','EmailID':'anil@gmail.com','mobile number':'9744556622'}
user1.clear()
del user1

In [78]:
user1={'Name':'Anil','Age':'29','EmailID':'anil@gmail.com','mobile number':'9744556622'}
print(len(user1))
user1['Address']='Hyderabad'
print(len(user1))

4
5

In [86]:
user1={'Name':'Anil','Age':'29','EmailID':'anil@gmail.com','mobile number':'9744556622'}
user2=user1.copy()
print(user1)
print(user2)
user1['Adderss']='Hyderabad'
print(user1)
print(user2)

{'Name': 'Anil', 'Age': '29', 'EmailID': 'anil@gmail.com', 'mobile number': '9744556622'}
{'Name': 'Anil', 'Age': '29', 'EmailID': 'anil@gmail.com', 'mobile number': '9744556622'}
{'Name': 'Anil', 'Age': '29', 'EmailID': 'anil@gmail.com', 'mobile number': '9744556622', 'Adderss': 'Hyderabad'}
{'Name': 'Anil', 'Age': '29', 'EmailID': 'anil@gmail.com', 'mobile number': '9744556622'}

In [87]:
user1={'Name':'Anil','Age':'29','EmailID':'anil@gmail.com','mobile number':'9744556622'}
print(user1.items())

dict_items([('Name', 'Anil'), ('Age', '29'), ('EmailID', 'anil@gmail.com'), ('mobile number', '9744556622')])

In [89]:
user1={'Name':'Anil','Age':'29','EmailID':'anil@gmail.com','mobile number':'9744556622'}
user2=user1.copy()
print(user1.values())
print(user2.values())

dict_values(['Anil', '29', 'anil@gmail.com', '9744556622'])
dict_values(['Anil', '29', 'anil@gmail.com', '9744556622'])

## string formatting

%s%d

In [127]:
lst=['python','programming']
print("%s%s"%(lst[0],lst[1]))

pythonprogramming

In [93]:
print('1.1'.isnumeric())

False

In [98]:
contact={}
def addcontact(name,phone):
    #verify that the contact doesnot already exists
    if name not in contact:
        contact[name]=phone
        print("contact %s added" % name)
    else:
        print("contact %s already exists" % name)
    return

addcontact("Anil",95687535456)
addcontact("Harsha",9966554223)
addcontact("pavan",96946354863)

contact Anil added
contact Harsha added
contact pavan added

## searching for a particular contact from contacts list

In [102]:
def searchcontact(name):
    if name in contact:
        print(name,":",contact[name])
    else:
        print("%s does not exists"% name)
    return
searchcontact("Anil")
searchcontact("Harsha")
searchcontact("pavan")

Anil : 95687535456
Harsha : 9966554223
pavan : 96946354863

In [119]:
def importcontact(newcontact):
    contact.update(newcontact)
    print(len(newcontact.keys()),"contact added successfully")
    return
newcontact={'Dinesh':9889555656,'Ajay':98458254521}
importcontact(newcontact)

2 contact added successfully

In [118]:
#Delete a contact fron contact list
def deletecontact(name):
    if name in contact:
        del contact[name]
        print(name,": is deleted from the contact ")
    else:
        print(name,"is not exists in the contact ")
    return

deletecontact("Harsha")
deletecontact("naveen")

Harsha is not exists in the contact
naveen is not exists in the contact

In [125]:
def updatecontact(name,phone):
    if name in contact:
        contact[name]=phone
        print(name,": updated with new phone number")
    else:
        print(name,"not exists in the contact")
    return

updatecontact("Anil",99854546548)
updatecontact("Harsha",7893135432)

Anil : updated with new phone number
Harsha not exists in the contact

## packages and modules

In [133]:
from math import floor as fl
fl(123)

123

In [130]:
from math import factorial as fact
fact(5)

120

In [135]:
# generate the random numbers between two lists
import random
def generaterandomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generaterandomnumbers(10,12,120)

27 58 69 91 37 49 87 32 107 76

In [139]:
d={"john":40,"peter":45}
print(list(d.keys()))

['john', 'peter']